::ng-deep .p-dropdown {
    width: 100%;
    border: 1px solid #6d28d9; /* purple-800 */
    border-radius: 0.5rem; /* rounded-lg */
}

::ng-deep .p-dropdown-label {
    font-size: 0.875rem; /* text-sm */
}

::ng-deep .p-dropdown-panel {
    box-shadow: 0 10px 15px -3px rgba(0,0,0,0.1), 0 4px 6px -2px rgba(0,0,0,0.05); /* shadow-lg */
    border: 1px solid #6d28d9; /* purple-800 */
    border-radius: 0.5rem; /* rounded-lg */
}

::ng-deep .p-dropdown-item {
    font-size: 0.875rem; /* text-sm */
    color: #6d28d9; /* purple-800 */
}

::ng-deep .p-dropdown-item:hover {
    background-color: #ede9fe; /* light purple-100 */
}
